<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to SkyShip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<div align="center">
    <img src="../static/SS.PNG" alt="SkyShip logo">
</div>
<body>
<div>
 <p align="Justify">
     Welcome to SkyShip, a tool designed to provision, centrally manage, and keep track of your cloud infrastructure. SkyShip can help you reduce overhead costs in managing your infrastructure, taking your most tedious tasks and providing an automation framework for you. With its flexibility and ability to leverage all the major cloud service providers, you can deploy and manage infrastructure locally to globally using a single interface.
SkyShip has a central online management console that you can use or you can contact one of our partners to purchase your own internal private cloud that leverages our technology.
While many tools exist to help you manage various aspects of your cloud infrastructure, SkyShip allows you to manage all of them through a single robust API.<a href="product">Read on</a>  to learn more about what SkyShip can do for your company.
 </p>
</div>
</body>
</html>