<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to SkyShip | Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<div align="center">
    <img src="../static/SS.PNG" alt="SkyShip logo">
</div>
<body>
 <p align="Justify">
SkyShip leverages a number of open source technologies to provide you a single API interface and unified management console for the your cloud infrastructure. A short list of technologies we leverage is below:
 </p>
<ul>
    <li>
        Zabbix - Enterprise level monitoring and health checks for servers.
    </li>
    <li>
        Kibana/Logstash - Log consolidation and forwarding
    </li>
    <li>
        Puppet - For provisioning and bootstrapping
    </li>
    <li>
        Docker - Containers for base images
    </li>
    <li>
        Terraform - Create and compose all the components necessary to run any service or application
    </li>
</ul>
<p>
    and more.
</p>
<p align="Justify">
Our modules and scripts can manage and provision a wide variety of technologies, and provide a framework to add any other 3rd part apps you might need. Our current framework allows for deploys of:
</p>
<ul>
    <li>
        Java
    </li>
    <li>
        NodeJS
    </li>
    <li>
        Python
    </li>
    <li>
        Ruby
    </li>
    <li>
        Hadoop
    </li>
    <li>
        Storm
    </li>
    <li>
        RabbitMQ
    </li>
    <li>
        ZooKeeper
    </li>
    <li>
        Databases
        <ul>
            <li>
                Cassandra
            </li>
            <li>
                Mongodb
            </li>
            <li>
                MySql
            </li>
            <li>
                PostgreSQL
            </li>
        </ul>
    </li>
</ul>
<p>
    And many more. If you don’t see a technology you are utilizing, let us know and we can inform you when it will be available.
</p>
</body>
</html>